<footer>
    <div class="logo2"><img src="../img/Logo-pizza.png.png" alt="">
      <h6>Mozzarella Restaurant</h6> 
    </div>
    <div class="mapa"> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3539.9265006670003!2d-58.80864528494311!3d-27.471547482890088!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94456b6ca10e6e2b%3A0xa03f567172e58c10!2sCentenario%20Shopping!5e0!3m2!1ses!2sar!4v1633179358829!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <a href="https://es-la.facebook.com/MartinC11">copyright© 2021 Martin Chamarez</a>
  </footer>

  
  
  