<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/meta.ejs')%>
    <%-include('../partials/font.ejs') %>
</head>
<body>  
    
  <div class="fondo styleBebidas">

    <%-include('../partials/nav.ejs') %>

    <header>
      <div class="nombre">
        <h1>Bebidas</h1>
      </div> 
    </header>
 
    <Main>
      <section class="container">
        <div class="cajaNombres">
          <div class="caja1"><p>Agua Mineral 1L</p> </div>
          <div class="caja2"><p>Gaseosas 1L</p></div>
          <div class="caja3"><p>Cerveza</p></div>
          <div class="caja4"><p>Vinos</p></div>
          <div class="caja5"><p>Daiquiri</p></div>
        </div>
        <div class="cajaPrecio">
          <div class="precio1"><p>$120</p> <a href="#">Encargar</a></div>
          <div class="precio2"><p>$220</p> <a href="#">Encargar</a></div>
          <div class="precio3"><p>$230</p> <a href="#">Encargar</a></div>
          <div class="precio4"><p>$240</p> <a href="#">Encargar</a></div>
          <div class="precio5"><p>$410</p> <a href="#">Encargar</a></div>
        </div>
      </section>
    </Main>

    <%-include('../partials/footer.ejs') %>
  </div>
 
</body>
</html>