<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('../partials/meta.ejs')%>
  <%-include('../partials/font.ejs') %>
</head>
<body>  

  <div class="fondo styleCarnes">

    <%-include('../partials/nav.ejs') %>
    <header>
      <div class="nombre">
        <h1>Carnes</h1>
      </div> 
    </header>

    <Main>
      <section class="container">
        <div class="cajaNombres">
          <div class="caja1"><p>Lomito Especial</p> </div>
          <div class="caja2"><p>Lomito a la Riojana</p> </div>
          <div class="caja3"><p>Bondiola</p></div>
          <div class="caja4"><p>Matambre a la pizza</p></div>
          <div class="caja5"><p>Asado (costilla / vacio)</p></div>
        </div>
        <div class="cajaPrecio">
          <div class="precio1"><p>$410</p> <a href="#">Encargar</a></div>
          <div class="precio2"><p>$450</p> <a href="#">Encargar</a></div>
          <div class="precio3"><p>$430</p> <a href="#">Encargar</a></div>
          <div class="precio4"><p>$450</p> <a href="#">Encargar</a></div>
          <div class="precio5"><p>$750</p> <a href="#">Encargar</a></div>
        </div>
      </section>
    </Main>

    <%-include('../partials/footer.ejs') %>
  </div>
  
</body>
</html>