<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('../partials/meta.ejs')%>
  <%-include('../partials/font.ejs') %>
</head>
<body>  
    
  <div class="fondo styleHamburguesa">

    <%-include('../partials/nav.ejs') %>   

    <header>
      <div class="nombre">
        <h1>Hamburguesas</h1>
      </div> 
    </header>
 
    <Main>
      <section class="container">
        <div class="cajaNombres">
          <div class="caja1"><p>Hamburguesa Comun</p> </div>
          <div class="caja2"><p>Hamburguesa Especial</p>  </div>
          <div class="caja3"><p>Doble Carne</p> </div>
          <div class="caja4"><p>Hamburguesa 4 Quesos</p> </div>
          <div class="caja5"><p>Super Burguer</p> </div>
        </div>
        <div class="cajaPrecio">
          <div class="precio1"><p> $300</p> <a href="#">Encargar</a></div>
          <div class="precio2"><p>$390</p> <a href="#">Encargar</a></div>
          <div class="precio3"><p>$420</p> <a href="#">Encargar</a></div>
          <div class="precio4"><p>$410</p> <a href="#">Encargar</a></div>
          <div class="precio5"><p>$450</p> <a href="#">Encargar</a></div>
        </div>
      </section>
    </Main>
   
    <%-include('../partials/footer.ejs') %>
  </div>

</body>
</html>