<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('../partials/meta.ejs')%>
  <%-include('../partials/font.ejs') %>
</head>
<body>  
    
  <div class="fondo stylePastas">

    <%-include('../partials/nav.ejs') %>

    <header>
      <div class="nombre">
        <h1>Pastas</h1>
      </div> 
    </header>
 
    <Main>
      <section class="container">
        <div class="cajaNombres">
          <div class="caja1"><p>Tallarines</p> </div>
          <div class="caja2"><p>Ravioles</p> </div>
          <div class="caja3"><p>Ñoquis</p></div>
          <div class="caja4"><p>Canelones</p></div>
          <div class="caja5"><p>Sorentinos</p></div>
        </div>
        <div class="cajaPrecio">
          <div class="precio1"><p>$350</p> <a href="#">Encargar</a></div>
          <div class="precio2"><p>$420</p> <a href="#">Encargar</a></div>
          <div class="precio3"><p>$410</p> <a href="#">Encargar</a></div>
          <div class="precio4"><p>$490</p> <a href="#">Encargar</a></div>
          <div class="precio5"><p>$480</p> <a href="#">Encargar</a></div>
        </div>
      </section>
    </Main>

    <%-include('../partials/footer.ejs') %>
  </div>
  
</body>
</html>